{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    <div class="white">
        {% include 'mainapp/includes/inc__main_menu.html' %}
    </div>

    <div class="details">
        {% include 'mainapp/includes/inc__genres_menu.html' %}

        <div class="details-games">
            <div class="details-slider">
                <div class="slider-game">
                    <img src="/media/{{ game.image }}" alt="">
                </div>
            </div>
            <div class="description">
                <h3 class="big-bold">{{ game.name }}</h3>
                <br>
                <p class="price"> {{ game.price }} <span>руб</span></p>
                <a href="{% url 'basket:add_game' game.pk %}" class="red-button">
                    купить
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    {{ game.descript }}
                </div>
            </div>
        </div>

    </div>

{% endblock %}